aiohttp==2.3.9
argh==0.26.2
asn1crypto==0.23.0
async-timeout==2.0.0
atomicwrites==1.1.5
attrs==18.1.0
Automat==0.6.0
beautifulsoup4==4.6.0
bleach==2.1.1
blinker==1.4
Bootstrap-Flask==1.0.9
boto==2.49.0
boto3==1.8.8
botocore==1.11.8
bs4==0.0.1
builtwith==1.3.3
bz2file==0.98
certifi==2017.7.27.1
cffi==1.11.1
chardet==3.0.4
click==6.7
colorama==0.3.9
constantly==15.1.0
countrycode==0.2
cryptography==2.0.3
cssselect==1.0.1
cycler==0.10.0
Cython==0.28.3
decorator==4.1.2
Django==2.0.6
docopt==0.6.2
docutils==0.14
dogpile.cache==0.6.7
entrypoints==0.2.3
fake-useragent==0.1.8
Faker==0.8.17
Flask==1.0.2
Flask-API==1.0
Flask-Avatars==0.2.2
Flask-CKEditor==0.4.3
Flask-Dropzone==1.5.1
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Moment==0.6.0
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.2
flask-whooshee==0.6.0
Flask-WTF==0.14.2
gensim==3.5.0
html5lib==1.0b10
hyperlink==17.3.1
idna==2.6
incremental==17.5.0
ipykernel==4.6.1
ipython==6.2.1
ipython-genutils==0.2.0
ipywidgets==7.0.1
isodate==0.6.0
itsdangerous==0.24
jedi==0.11.0
jieba==0.39
Jinja2==2.10
jmespath==0.9.3
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.1.0
jupyter-console==5.2.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.0
jupyter-core==4.3.0
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.4
jupyter-nbextensions-configurator==0.4.0
libpcap==1.0.0b6
lxml==4.1.0
MarkupSafe==1.0
matplotlib==2.1.0
mistune==0.7.4
more-itertools==4.2.0
multidict==4.1.0
mysqlclient==1.3.12
nbconvert==5.3.1
nbformat==4.4.0
neo4j-driver==1.6.0
neotime==1.0.0
nltk==3.3
notebook==5.1.0
numpy==1.15.1
olefile==0.44
pandas==0.21.0
pandocfilters==1.4.2
parsel==1.2.0
parso==0.1.0
pathtools==0.1.2
pickleshare==0.7.4
Pillow==5.2.0
pinyin==0.4.0
pipenv==2018.11.26
pluggy==0.6.0
prettytable==0.7.2
prompt-toolkit==1.0.15
psutil==5.4.1
py==1.5.3
py2neo==4.0.0
pyasn1==0.3.7
pyasn1-modules==0.1.4
pycparser==2.18
PyDispatcher==2.0.5
pygal==2.4.0
pygal-maps-world==1.0.2
Pygments==2.2.0
pymongo==3.6.0
PyMySQL==0.9.0
PyMySQL3==0.5
pyOpenSSL==17.3.0
pyparsing==2.2.0
PyQt5==5.12.1
PyQt5-sip==4.19.15
pyquery==1.3.0
pyread==0.8.3
pyreadline==2.1
pytest==3.6.1
python-dateutil==2.7.3
python-dotenv==0.10.0
pytz==2017.2
pywin32==221
PyYAML==3.13
pyzmq==16.0.2
qtconsole==4.3.1
queuelib==1.4.2
rdflib==4.2.2
redis==2.10.6
REfO==0.13
requests==2.18.4
s3transfer==0.1.13
scapy-python3==0.23
scikit-learn==0.19.2
scipy==1.0.0
Scrapy==1.4.0
scrapy-fake-useragent==1.1.0
scrapy-redis==0.6.8
seaborn==0.8.1
seaborn-table==1.1.0
selenium==3.8.1
service-identity==17.0.0
simplegeneric==0.8.1
six==1.11.0
sklearn==0.0
smart-open==1.6.0
SPARQLWrapper==1.8.1
SQLAlchemy==1.2.10
testpath==0.3.1
text-unidecode==1.2
thulac==0.1.2
tornado==4.5.2
traitlets==4.3.2
Twisted==17.9.0
urllib3==1.22
virtualenv==15.1.0
virtualenv-clone==0.3.0
w3lib==1.18.0
watchdog==0.8.3
wcwidth==0.1.7
webencodings==0.5.1
WebOb==1.8.4
Werkzeug==0.14.1
whois==0.7
Whoosh==2.7.4
widgetsnbextension==3.0.3
winpcapy==1.0.2
WTForms==2.2.1
xmltool==0.4
yarl==1.1.0
zope.interface==4.4.3
