{% extends 'home/base.html' %}
{% block pagebg %}
    <div class="pagebg sh"></div>
{% endblock %}
{% block posts_list %}
    <h1 class="t_nav"><span>你可以仰望道德和善良，但不要仰仗它。这个世界，除了自己强大，什么都靠不住。</span>
        <a href="/" class="n1">网站首页</a>
        <a href="{{ url_for('home.about_me') }}" class="n2">关于我</a>
    </h1>
    <div class="blogbox">
        <div class="news_infos">
            <ul>
                <p>
                    {{ aboutme.body|safe }}
                </p>
                <br/>
                <h2>About my blog</h2>
                &nbsp;
                <p>域 名：www.duanshaoqiang.com 创建于2019年03月26日&nbsp;</p>
                <br/>
                <p>服务器：腾讯云服务器&nbsp;&nbsp;<a
                        href="https://cloud.tencent.com/redirect.php?redirect=1014&cps_key=9fbe633bfe2076b4955a29429e28514d&from=console"
                        target="_blank"><span style="color:#FF0000;"><strong>前往腾讯云官网购买&gt;&gt;</strong></span></a></p>
                <br/>
                <p>备案号：蜀ICP备19010009号-1</p>
                <br/>
                <p>程 序：Python Flask</p>
            </ul>
        </div>
        <div class="sidebar">
            <div class="about">
                <p class="avatar"><img src="{{ url_for('static',filename='home/images/avatar.jpg') }}" alt=""></p>
                <p class="abname">Ted | 段少强</p>
                <p class="abposition">Python Web、数据分析</p>
                <p class="abtext"> {{ aboutme.intro }} </p>
            </div>
        </div>
    </div>

{% endblock %}